<div *ngIf="LoggedUser as user" class="edit">
    <mat-card>
        <mat-card-title>Edit Profile</mat-card-title>
        <form [formGroup]="formGroup" (submit)="onSubmit()">
            <mat-label>Change Username:</mat-label>
            <app-text-input [formControl]="$any(formGroup.controls['username'])" [label]="'Username'"></app-text-input>
            <mat-label>Change Description:</mat-label>
            <textarea matInput placeholder="Enter your description here..." formControlName="description" cols="30"
                rows="5"></textarea>
            <mat-label>Change Your Profile Pic:</mat-label>
            <div class="image-area">
                <div class="image-holder">
                    <img [src]="user.getPhotoUrl()" [alt]="user.userName">
                </div>
                <div class="image-upload">
                    <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
                    <input hidden #fileInput type="file" id="file" (change)="onFileSelected($event)" accept="image/*">
                </div>
            </div>
            <button mat-flat-button color="primary" [disabled]="formGroup.invalid" type="submit">Submit Edit</button>
        </form>
    </mat-card>
</div>