<mat-card class="msg" [ngStyle]="{'flex-direction':isSender ? 'row' : 'row-reverse'}">
    <div class="icons" *ngIf="isSender">
        <button mat-button (click)="deleteMessage()">
            <mat-icon>delete_outline</mat-icon>
        </button>
        <button mat-button>
            <mat-icon>edit</mat-icon>
        </button>
    </div>
    <div class="message-container">
        {{message.text}}
    </div>
    <div class="image-container">
        <img [src]="isSender ? user.getPhotoUrl() : otherUser.getPhotoUrl() ?? 'assets/defaultProfile.png'"
            [alt]="isSender ? user.userName : otherUser.userName">
    </div>
</mat-card>