.msg {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5px;
  box-shadow: none;
  overflow-y: auto;
  gap: 10px;
  .message-container {
    margin-right: 2vw;
  }

  .image-container {
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
