.dashboard {
  height: 85vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 5px;
  .idle {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    animation: idle-anim 3s 2s ease-in-out alternate infinite;
  }
  app-users {
    flex: 0.2;
    margin: 0;
    padding: 0;
  }
  div {
    flex: 0.8;
    margin: 0;
    padding: 0;
    app-talk-section {
      width: 100%;
      height: 100%;
    }
  }
}

@keyframes idle-anim {
  from {
    transform: translate(-50%, 0);
  }

  to {
    transform: translate(-50%, 30%);
  }
}
