.dashboard {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  app-users {
    flex: 0.2;
    margin: 0;
    padding: 0;
  }
  app-talk-section {
    flex: 0.8;
    margin: 0;
    padding: 0;
  }
}
