<mat-card class="talk-container">
    <mat-card-content class="body">
        <div class="header">
            <div class="info">
                {{ otherUser.userName | titlecase}}
                <mat-icon> chat</mat-icon>
                Status:
                {{otherUser.description | titlecase}}
            </div>
        </div>
        <div class="messages-shower" #messageShower>
            <app-message *ngFor="let message of messages" [message]="message" [isSender]="message.senderId === user.id"
                (onDeleteMessage)="deleteMessage($event)" [user]="user" [otherUser]="otherUser"
                (onEditMessage)="editMessage($event)">
            </app-message>
        </div>
        <br />
        <div class="messages-sender">
            <input matInput type="text" placeholder="Enter your message here..." [(ngModel)]="message"
                (keydown.enter)="onSubmitForm()">
            <button mat-raised-button [disabled]="!message" (click)="onSubmitForm()">Send</button>
        </div>
    </mat-card-content>
</mat-card>