<mat-card class="talk-container">
    <mat-card-title class="header">
        <h3>{{ otherUser.userName | titlecase}} | {{otherUser.description }} </h3>
    </mat-card-title>
    <mat-card-content class="body">
        <div class="messages-shower" #messageShower>
            <app-message *ngFor="let message of messages" [message]="message" [isSender]="message.senderId === user.id"
                (onDeleteMessage)="deleteMessage($event)" [user]="user" [otherUser]="otherUser"
                (onEditMessage)="editMessage($event)">
            </app-message>
        </div>
        <br />
        <div class="messages-sender">
            <input matInput type="text" placeholder="Enter your message here..." [(ngModel)]="message"
                (keydown.enter)="onSubmitForm()">
            <button mat-raised-button [disabled]="!message" (click)="onSubmitForm()">Send</button>
        </div>
    </mat-card-content>
</mat-card>