.msg {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5px;
  .message-container {
    margin-right: 2vw;
  }
  .right-section {
    padding: 0 15px;
    display: flex;
    flex-flow: column;
    .image-container {
      width: 50px;
      img {
        width: 100%;
      }
    }
  }
}
