<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button routerLink="/">Chator</button>
        <div class="right-section">
            <div *ngIf="LoggedUser | async as user; else notLogged" class="nav-buttons">
                <button mat-button routerLink="/dashboard">Dashboard</button>
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon mat-list-icon>account_circle</mat-icon>
                    {{user.userName | titlecase}}
                    <mat-icon> arrow_drop_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/edit">Edit Profile</button>
                    <button mat-menu-item (click)="signOut()">Sign Out</button>
                </mat-menu>
            </div>
            <ng-template #notLogged>
                <span>
                    <button mat-button routerLink="auth/login">Login</button>
                    <button mat-button routerLink="auth/register">Register</button>
                </span>
            </ng-template>
        </div>



    </mat-toolbar-row>
</mat-toolbar>