<div class="users">
    <mat-card class="user-list">
        <mat-card *ngFor="let user of users" class="user" (click)="selectUser(user)">
            <div class="image-container">
                <img [src]="user.getPhotoUrl()" [alt]="user.userName">
            </div>
            <div class="name-container">
                {{user.userName | titlecase}}
            </div>
            <div class="online">
                <p *ngIf="user.signalrConnectionId" class="online">Online</p>
                <p *ngIf="!user.signalrConnectionId" class="offline">Offline</p>
            </div>
        </mat-card>
    </mat-card>
</div>