<div class="users">
    <mat-card class="user-list">
        <mat-card *ngFor="let user of users" class="user" (click)="selectUser(user)">
            <div class="image-container">
                <img [src]="user.getPhotoUrl()" [alt]="user.userName">
            </div>
            <div class="name-container">
                {{user.userName | titlecase}}
            </div>
            <div class="online">
                <p *ngIf="user.isOnline" class="online">
                    <mat-icon> chat_bubble</mat-icon>
                </p>
                <p *ngIf="!user.isOnline" class="offline">
                    <mat-icon> chat_bubble_outline</mat-icon>
                </p>
            </div>
        </mat-card>
    </mat-card>
</div>