.registerForm {
  padding: 30px;
  width: 100%;
  form {
    display: flex;
    flex-flow: column wrap;
    padding: 2rem;
    mat-form-field {
      margin: 10px 0;
      font-size: 1rem;
    }
    button {
      margin-top: 5px;
    }
  }
}

.nonRegisterForm {
  width: 90%;

  form {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    mat-form-field {
      width: 90%;
    }
    button {
      margin: 0 auto 2vh 3vh;
    }
  }
}
