mat-card {
  mat-card-title {
    text-align: center;
  }
  mat-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    button {
      margin: 0 20px;
      padding: 10px 30px;
      font-size: 2rem;
    }
  }
}
